<ion-content fullscreen>
  <div class="header-svg-container">
   <svg xmlns="http://www.w3.org/2000/svg" width="412" height="365" viewBox="0 0 412 365" fill="none">
   <path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="#9C3FC3"/>
   </svg>
     <img src="assets/img/bonequinho.png" alt="Logo" class="header-logo" />
   </div>

   <ion-button class="audio-btn" fill="solid">
     <ion-icon name="volume-high" slot="icon-only"></ion-icon>
   </ion-button>

  <div class="form-container">
    <ion-input class="custom-input" fill="outline" placeholder="E-mail" type="email" [(ngModel)]="email"></ion-input>
    <ion-input class="custom-input" fill="outline" placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>

    <div class="btn-cadastrar">
      <ion-button fill="clear" class="custom-outline" (click)="register()">Cadastrar</ion-button>
    </div>
    <a href="/login" class="link-login">Já tem uma conta?</a>
  </div>
  <div class="error-box" *ngIf="errorMessage">
    <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
    <span class="error-message">{{ errorMessage }}</span>
  </div>
<br>
  <div class="app-footer">Memória Viva</div>
</ion-content>
