.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12vh;
  padding: 10vw;
  align-content: center;

  .floating-input {
    position: relative;
    width: 100%;
    margin-top: 1.6357vh;

    label {
      position: absolute;
      left: 3.8647vw;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      background: white;
      padding: 0 4px;
      transition: 0.3s ease all;
      pointer-events: none;
      font-size: 3.8647vw;
      z-index: 1;
    }

    label.active {
      top: -1.09vh;
      font-size: 3.381vw;
      color: #3679ff;
    }

    ion-input {
      width: 100%;
      --border-color: #9c3fc3;
      height: 6.107vh !important;
      font-size: 4.3478vw;
      font-weight: 400;
      border-radius: 10px;
      background: transparent;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      --padding-end: 2.181vh; // espaço para o ícone
    }

    ion-icon {
      position: absolute;
      right: 9.90338vw;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      color: #333;
      font-size: 4.831vw;
      margin-right: -10.145vw
    }
  }
}

::ng-deep ion-input .input-outline-container {
  visibility: hidden;
}

.btn-cadastrar {
  display: flex;
  justify-content: center;
  margin-top: 1.09vh;
}

.link-login {
  margin-top: 0px;
  text-align: center;
  color: #f08845;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 26.5%;
  z-index: 1;
  width: 70vw;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge Chromium) */
ion-input[type='date'] input::-webkit-datetime-edit-text {
  color: transparent;
}

/* Trazer de volta o texto editável para os campos dia, mês e ano */
ion-input[type='date'] input::-webkit-datetime-edit-day-field,
ion-input[type='date'] input::-webkit-datetime-edit-month-field,
ion-input[type='date'] input::-webkit-datetime-edit-year-field {
  color: #000; /* Ou a cor do texto que desejar */
}

/* Para Firefox */
ion-input[type='date'] input::-moz-placeholder {
  color: transparent;
}

/* Em geral, para esconder o placeholder automático (fallback) */
ion-input[type='date'] input::placeholder {
  color: transparent;
}

.error-box {
  background-color: #ffecec;
  border-left: 6px solid #ff3b30;
  padding: 3.8647vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 90%;
  max-width: 84.541vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 89.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.error-icon {
  color: #ff3b30;
  font-size: 5.797vw;
}

.error-message {
  color: #d00000;
  font-size: 3.8647vw;
  font-weight: 500;
  line-height: 1.4;
}
