.btn-cadastrar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link-login {
  margin-top: 0px;
  text-align: center;
  color: #f08845;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: red;
}

