.perfil-container {
    display: flex;
    flex-direction: column;
    height: 120.773vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 12.0773vw;
}

.user-info {
    width: 74.3963vw;
    height: 52.6571vw;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 32.6087vw;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 74.3962vw;
    height: 16.4252vw;
    padding-left: 6.0386vw;
    margin-top: 5.0724vw;
}

.user-nome {
    font-size: 6.0386vw;
    height: 7.2464vw;
    width: 18.26vw;
}

.nome {
    width: 42.996vw;
    height: 13.2851vw;
    margin-left: 2.8986vw;
    font-size: 4.831vw;
    font-weight: 700;
    margin-top: 0.845vw;
}

.secao-idade {
    display: flex;
    width: 74.3962vw;
    height: 16.4252vw;
    padding-left: 6.0386vw;
}

.user-idade {
    font-size: 6.0386vw;
    height: 7.2464vw;
    width: 18.116vw;
}

.idade {
    width: 42.996vw;
    height: 13.2851vw;
    margin-left: 2.8986vw;
    margin-top: 1.0869vw;
    font-size: 4.831vw;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 74.3962vw;
    height: 19.3237vw;
    padding-left: 6.0386vw;
}

.user-email {
    font-size: 6.0386vw;
    height: 7.2464vw;
    width: 19.35vw;
}

.email {
    width: 42.996vw;
    height: 13.2851vw;
    margin-left: 2.4155vw;
    margin-top: 0.9661vw;
    font-size: 4.831vw;
    font-weight: 700;
}

ion-button.premium-btn {
    all: unset;
    width: 59.4203vw;
    height: 16.9083vw;
    --border-radius: 4.831vw;
    --background: #DB6326;
    margin-top: 10.869vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 3.8648vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.premium-svg {
    margin-right: 16px;
}

.premium-text {
    margin-right: 15px;
    margin-top: 5px;
}

ion-button.atualizar-informacoes-btn {
  all: unset;
  width: 59.4203vw;
  height: 16.9083vw;
  --border-radius: 4.831vw;
  --background: #DB6326;
  margin-top: 8.4541vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 3.8648vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.atualizar-informacoes-svg {
    margin-right: 27px;
}

.atualizar-informacoes-text {
    margin-right: 19px;
    margin-top: 5px;
}

.perfil-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
}

ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

p {
  margin: 0;
  margin-bottom: 5px;
}

.audio-scss {
  position: fixed;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
