.perfil-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 412px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 308px;
    height: 218px;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 135px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px;
    margin-top: 21px;
}

.user-nome {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.nome {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 3.5px;
}

.secao-idade {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-idade {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.idade {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 4.5px;
    font-size: 20px;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 308px;
    height: 80px;
    padding-left: 25px
}

.user-email {
    font-size: 25px;
    height: 30px;
    width: 80px;
}

.email {
    width: 178px;
    height: 55px;
    margin-left: 10px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 700;
}

ion-button.premium-btn {
  all: unset;
  width: 246px;
  height: 70px;
  --border-radius: 20px;
  --background: #DB6326;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.premium-svg {
    margin-right: 16px;
}

.premium-text {
    margin-right: 15px;
    margin-top: 5px;
}

ion-button.atualizar-informacoes-btn {
  all: unset;
  width: 246px;
  height: 70px;
  --border-radius: 20px;
  --background: #DB6326;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.atualizar-informacoes-svg {
    margin-right: 27px;
}

.atualizar-informacoes-text {
    margin-right: 19px;
    margin-top: 5px;
}

.perfil-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 91.3906px;
}

ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

p {
  margin: 0;
  margin-bottom: 5px;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
