.perfil-container {
    display: flex;
    flex-direction: column;
    height: 54.5256vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5.4525vh;
}

.user-info {
    width: 74.3963vw;
    height: 23.773vh;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 14.722vh;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 74.3962vw;
    height: 7.4155vh;
    padding-left: 6.0386vw;
    margin-top: 2.29vh;
}

.user-nome {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 18.37vw;
}

.nome {
    width: 42.996vw;
    height: 6vh;
    margin-left: 2.8986vw;
    font-size: 4.831vw;
    font-weight: 700;
    margin-top: 0.3816vh;
}

.secao-idade {
    display: flex;
    width: 74.3962vw;
    height: 7.4155vh;
    padding-left: 6.0386vw;
}

.user-idade {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 18.126vw;
}

.idade {
    width: 42.996vw;
    height: 6vh;
    margin-left: 2.8986vw;
    margin-top: 0.49vh;
    font-size: 4.831vw;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 74.3962vw;
    height: 8.7241vh;
    padding-left: 6.0386vw;
}

.user-email {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 19.46vw;
}

.email {
    width: 42.996vw;
    height: 6vh;
    margin-left: 2.4155vw;
    margin-top: 0.4362vh;
    font-size: 4.831vw;
    font-weight: 700;
}

ion-button.premium-btn {
    all: unset;
    width: 59.4203vw;
    height: 7.6336vh;
    --border-radius: 4.831vw;
    --background: #DB6326;
    margin-top: 4.9073vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 3.8648vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.premium-svg {
    margin-right: 3.8647vw;
}

.premium-text {
    margin-right: 3.6232vw;
    margin-top: 0.5452vh;
}

ion-button.atualizar-informacoes-btn {
  all: unset;
  width: 59.4203vw;
  height: 7.6336vh;
  --border-radius: 4.831vw;
  --background: #DB6326;
  margin-top: 3.8168vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 3.8648vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.atualizar-informacoes-svg {
    margin-right: 6.5217vw;
}

.atualizar-informacoes-text {
    margin-right: 4.59vw;
    margin-top: 0.5452vh;
}

.perfil-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.662vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.662vw;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
  }

p {
  margin: 0;
  margin-bottom: 0.5452vh;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
