.perfil-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 412px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 308px;
    height: 218px;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 30px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-nome {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.nome {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700;
}

.secao-idade {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-idade {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.idade {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 29.5px;
    font-size: 20px;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 308px;
    height: 80px;
    padding-left: 25px
}

.user-email {
    font-size: 25px;
    height: 30px;
    width: 80px;
}

.email {
    width: 178px;
    height: 55px;
    margin-left: 10px;
    margin-top: 29.5px;
    font-size: 20px;
    font-weight: 700;
}

.premium-btn {
  width: 246px;
  height: 70px;
  border-radius: 20px;
  background-color: #DB6326;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
