.input-file {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

.contatos-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contatos-text {
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 4.831vw;
  box-sizing: border-box;


  margin-top: 13.086vh;
}

.add-container {
  width: 100%;
  max-width: 96.618vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.8647vw;
  height: 58.6913vh;
}

.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 2.8985vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 90.34vw;
  height: 5.2344vh;

  .icon-input.yellow { color: #FFD700; }
  .icon-input.blue   { color: #3498db; }
  .icon-input.green  { color: #2ecc71; }
  .icon-input.orange { color: #f39c12; }
  .icon-input.purple { color: #9b59b6; }
  .icon-input.red    { color: #FF0000; }

}

.secao-salvar-excluir {
  width: 100%;
  height: 8.615vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18.1025vh;
  }

  .btn-excluir {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  height: 12vh;
  width: 26.571vw;
  }

  .excluir-icone {
  color: red;
  height: 8.724vh;
  width: 19.3236vw;
  }

  .btn-salvar {
  all: unset;
  --background: #9C3FC3;
  --border-radius: 6px;
  border-radius: 10px;
  width: 43.72vw;
  height: 6.10687vh;
  --border-color: black;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  .salvar-text {
  color: #FFF;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  }

  .alerta-confirmacao {
    position: absolute;
    top: 67%;
    left: 61%;
    transform: translate(-50%, -50%);
    background-color: #DB6326;
    width: 68.168vw;
    height: 8.9422vh;
    border-radius: 9.1787vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .alerta-confirmacao-texto {
    font-size: 3.8647vw;
    height: 2.0174vh;
    margin-top: 1.3086vh;
    color: white;
  }

  .alerta-confirmacao-btns {
    height: 3.271vh;
    display: flex;
    flex-direction: row;
    margin-top: 0.8724vh;
  }

  .alerta-confirmacao-sim-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    margin-right: 9.9034vw;
    color: white;
  }

  .alerta-confirmacao-nao-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    color: white;
  }

  .alerta-confirmacao-sucesso {
    width: 66.32vw;
    height: 7.3064vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8647vw;
    position: absolute;
    top: 67%;
    left: 61%;
    transform: translate(-50%, -50%);
    background-color: #FAC946;
    border-radius: 9.1787vw;
    z-index: 2;
    visibility: hidden;
  }

  .contato-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 8.8331vh;
  }

  ion-button.voltar-btn {
    all: unset;
    width: 19.9012vw;
    height: 9.9645vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6956vh;
    margin-right: 9.66vw;
    --background: transparent;
    --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
  }

  ion-button.inicio-btn {
    all: unset;
    width: 19.9012vw;
    height: 9.9645vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6956vh;
    margin-right: 9.66vw;
    --background: transparent;
    --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
  }

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 28.5%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #249CD9;
  filter: invert(1);
}

.alert-erro {
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffecec;
  border-left: 1.4493vw solid #ff3b30;
  padding: 3.8647vw;
  margin-top: 1.7448vh;
  border-radius: 8px;
  color: #d00000;
  gap: 0.4831vw;
  font-size: 3.8647vw;
  font-weight: 500;
  line-height: 1.4;
  z-index: 1;
  width: 75vw;
  display: flex;
  align-items: center;
  transition: all 0.3 ease;
}

.alert-erro2 {
  position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffecec;
    border-left: 1.4493vw solid #ff3b30;
    padding: 3.8647vw;
    margin-top: 1.7448vh;
    border-radius: 8px;
    color: #d00000;
    gap: 2px;
    font-size: 3.8647vw;
    font-weight: 500;
    line-height: 1.4;
    z-index: 1;
    width: 89vw;
    display: flex;
    align-items: center;
}

.error-icon {
  margin-right: 1.09vw;
}

.error-icon2 {
  margin-right: 1.09vw;
  font-size: 8.454vw;
}

