.input-file {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

.contatos-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contatos-text {
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;


  margin-top: 120px;
}

.add-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 130vw;
}

.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 90.34vw;
  height: 11.596vw;

  .icon-input.yellow { color: #FFD700; }
  .icon-input.blue   { color: #3498db; }
  .icon-input.green  { color: #2ecc71; }
  .icon-input.orange { color: #f39c12; }
  .icon-input.purple { color: #9b59b6; }
  .icon-input.red    { color: #FF0000; }

}

.secao-salvar-excluir {
  width: 100%;
  height: 19.083vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40.203vw;
  }

  .btn-excluir {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  height: 26.571vw;
  width: 26.571vw;
  }

  .excluir-icone {
  color: red;
  height: 80px;
  width: 80px;
  }

  .btn-salvar {
  all: unset;
  --background: #9C3FC3;
  --border-radius: 6px;
  border-radius: 10px;
  width: 43.72vw;
  height: 13.529vw;
  --border-color: black;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  .salvar-text {
  color: #FFF;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  }

  .alerta-confirmacao {
    position: absolute;
    top: 67%;
    left: 61%;
    transform: translate(-50%, -50%);
    background-color: #DB6326;
    width: 282.217px;
    height: 82px;
    border-radius: 38px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .alerta-confirmacao-texto {
    font-size: 16px;
    height: 18.5px;
    margin-top: 12px;
    color: white;
  }

  .alerta-confirmacao-btns {
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
  }

  .alerta-confirmacao-sim-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    margin-right: 41px;
    color: white;
  }

  .alerta-confirmacao-nao-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    color: white;
  }

  .alerta-confirmacao-sucesso {
    width: 274.563px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: 67%;
    left: 61%;
    transform: translate(-50%, -50%);
    background-color: #FAC946;
    border-radius: 38px;
    z-index: 2;
    visibility: hidden;
  }

  .contato-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
  }

  ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #249CD9;
  filter: invert(1);
}

.alert-erro {
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffecec;
  border-left: 6px solid #ff3b30;
  padding: 16px;
  margin-top: 16px;
  border-radius: 8px;
  color: #d00000;
  gap: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  z-index: 1;
  width: 75%;
  display: flex;
  align-items: center;
  transition: all 0.3 ease;
}

.alert-erro2 {
  position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffecec;
    border-left: 6px solid #ff3b30;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    color: #d00000;
    gap: 2px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    z-index: 1;
    width: 89%;
    display: flex;
    align-items: center;
}

.error-icon {
  margin-right: 10px;
}

.error-icon2 {
  margin-right: 10px;
  font-size: 35px;
}

