.header-video {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 8.454vw;
  background-color: #9C3FC3;
  color: white;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.07vh;
  margin-bottom: 7.0883vh;
}

.play-img {
  width: 26.57vw;
  height: 12vh;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.play-img.show {
  opacity: 1;
}

.video-representacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9C3FC3;
  margin: auto;
  width: 74.3961vw;
  height: 17.6663vh;
  margin-bottom: 6.543vh;
}

.video-player {
  display: block;
  margin: auto;
  border-radius: 1.93236vw;
  width: 74.3961vw;
  height: 17.6663vh;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17.9713vh;
}

.btn-sim {
  all: unset;
  --background: transparent;
  --border-color: green;
  width: 77.0531vw;
  height: 9.27vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  border: 0.5px solid var(--border-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.362vh;
}

.btn-nao {
  all: unset;
  --background: transparent;
  --border-color: red;
  width: 77.0531vw;
  height: 9.27vh;
  font-weight: 700;
  border: 0.5px solid var(--border-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: #000;
  font-size: 3.6232vw;
  font-style: normal;
  font-weight: 700;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-left: 2.2vw;
  width: 59vw;
  text-align: left;
}

.audio-btn {
  bottom: 55%;
  right: 7.2463vw;
}

.audio-scss {
  position: fixed;
  top: 38%;
  left: 30%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
