  <ion-header class="header-video">
    Seja Bem-Vindo(a)!
  </ion-header>

<ion-content fullscreen>

    <div class="video-representacao" *ngIf="!videoStarted">
      <img
        src="assets/play.png"
        class="play-img"
        [class.show]="showPlay"
        (click)="playVideo()" />
    </div>

    <video
      #videoPlayer
      class="video-player"
      width="74.4vw"
      height="17.6663vh"
      controls
      *ngIf="videoStarted">
      <source src="../../assets/video-explicativo.mp4" type="video/mp4" />
    </video>

    <ion-button class="audio-btn" fill="solid" (click)="toggleAudio()">
      <ion-icon name="volume-high" slot="icon-only"></ion-icon>
    </ion-button>

    <audio class="audio-scss" #audioPlayer src="assets/audio/audio-teste.m4a" controls></audio>

    <div class="video-container">
      <ion-button class="btn-sim" (click)="escolher(true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="11.3526vw" height="10.9051vh" viewBox="0 0 40 40" fill="none">
          <circle cx="20" cy="20" r="20" fill="#127253"/>
        </svg>
        <p>Sim, gostaria que o áudio fosse<br>acionado automaticamente</p>
      </ion-button>

      <ion-button class="btn-nao" (click)="escolher(false)">
        <svg xmlns="http://www.w3.org/2000/svg" width="11.3526vw" height="5.1254vh" viewBox="0 0 36 30" fill="none">
          <path d="M18 0L35.3205 30H0.679491L18 0Z" fill="#FF0303"/>
        </svg>
        <p>Não, eu gostaria de acionar o<br>áudio manualmente</p>
      </ion-button>
    </div>

    <div class="app-footer">
      Memória Viva
    </div>

</ion-content>

