/* --- CATEGORIA HEADER --- */
.categoria-header-img {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80px;    /* largura da imagem da categoria */
    height: 70px;   /* altura da imagem da categoria */
    object-fit: cover;
    border-radius: 8px; /* opcional, arredonda cantos */
  }

  .categoria-familia {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 86px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-amigos {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 67px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-passatempos {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 82px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-infancia {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 79px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-juventude {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 82px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-animais {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 75px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-momentos {
    position: absolute;
    top: 45%;       /* ajusta verticalmente */
    left: 18%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 82px;    /* largura da imagem da categoria */
    height: 82px;   /* altura da imagem da categoria */
    // object-fit: cover;
    border-radius: 8px;
  }

  .categoria-header-text {
    position: absolute;
    top: 46%;       /* ajusta verticalmente */
    left: 52%;      /* ajusta horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  .config-svg {
      position: absolute;
      top: 45%;
      left: 18%;
      transform: translate(-50%, -50%);
      z-index: 1;
  }

  .config-text {
      position: absolute;
      top: 32%;
      left: 52%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: #FFF;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .config-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #FFF;
      text-align: center;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 4.831vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .config-audio-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 61.5944vw;
      height: 16.909vw;
      background-color: #9C3FC3;
      margin-top: 38.3383vw;
      border-radius: 20px;
  }

  .config-audio-text {
    margin-left: 31px;
    margin-right: 68px;
    font-family: "Open Sans", sans-serif;
  }

  .config-perfil-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 61.5944vw;
      height: 16.909vw;
      background-color: #9C3FC3;
      margin-top: 9.662vw;
      border-radius: 20px;
  }

  .deletar-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 61.5944vw;
    height: 16.909vw;
    background-color: #DB6326;
    margin-top: 10.87vw;
    border-radius: 20px;
  }

  .bonequinho-img {
    width: 40px;
    height: 36px;
    margin-left: 11px;
    margin-right: 18px;
  }

  .fazer-flashcards-img {
    margin-left: 32px;
    margin-right: -8px;
  }

  .adicionar-flashcards-svg {
    margin-left: -1px;
    margin-right: 10px;
  }

  .deletar-flashcards-svg {
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }


  ion-icon {
    width: 60px;
    height: 60px;
  }

  .config-perfil-text {
    margin-left: -22px;
    margin-right: 13px;
    font-family: "Open Sans", sans-serif;
    width: 39vw;
  }

  .func-categoria-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 8.83%;
    }

    ion-button.voltar-btn {
    all: unset;
    width: 82.3906px;
    height: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24.7188px;
    margin-right: 40px;
    --background: transparent;
    --box-shadow: transparent;

    .voltar-btn-div {
      width: 82.3906px;
      height: 91.375px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .voltar-svg {
      height: 48px;
      width: 91.375px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .voltar-texto {
      font-family: Inter;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      width: 82.375px;
      height: 91.375px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      color: #737373;
      margin-top: 3px;
    }
    }

    ion-button.inicio-btn {
    all: unset;
    width: 82.3906px;
    height: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24.7188px;
    margin-right: 40px;
    --background: transparent;
    --box-shadow: transparent;

    .inicio-btn-div {
      width: 82.3906px;
      height: 91.375px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .inicio-svg {
      height: 48px;
      width: 91.375px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inicio-texto {
      font-family: Inter;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      width: 82.375px;
      height: 91.375px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      color: #737373;
      margin-top: 3px;
    }
  }

  p {
    margin: 0;
  }

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #63C03C;
  filter: invert(1);
}
