.header-video {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 35px; 
  background-color: #9C3FC3;
  color: white;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  margin-bottom: 135px;
}

.play-img {
  width: 110px;
  height: 110px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.play-img.show {
  opacity: 1;
}

.video-representacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9C3FC3;
  margin: auto;
  width: 308px; 
  height: 162px;
  margin-bottom: 60px;
}

.video-player {
  display: block;
  margin: auto;
  border-radius: 8px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

p {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-left: 10px;
  text-align: left;
}

.audio-btn {
  bottom: 55%;
  right: 30px;
}
