  <ion-header class="header-video">
    Seja Bem-Vindo(a)!
  </ion-header>

<ion-content fullscreen>

    <div class="video-representacao">
      <img src="assets/play.png" class="play-img" [class.show]="showPlay">
    </div>

    <ion-button class="audio-btn" fill="solid">
      <ion-icon name="volume-high" slot="icon-only"></ion-icon>
    </ion-button>

    <div class="video-container">
      <ion-button fill="clear" href="/login" class="custom-outline">Entrar</ion-button>
    </div>

    <div class="app-footer">
      Memória Viva
    </div>
      
</ion-content>
 
