.header-video {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 8.454vw;
  background-color: #9C3FC3;
  color: white;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.07vh;
  margin-bottom: 14.1766vh;
}

.play-img {
  width: 26.57vw;
  height: 12vh;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.play-img.show {
  opacity: 1;
}

.video-representacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9C3FC3;
  margin: auto;
  width: 74.4vw;
  height: 17.6663vh;
  margin-bottom: 6.543vh;
}

.video-player {
  display: block;
  margin: auto;
  border-radius: 1.93236vw;
  width: 74.4vw;
  height: 17.6663vh;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17.45vh;
}

p {
  color: #000;
  font-size: 3.6232vw;
  font-style: normal;
  font-weight: 700;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-left: 2.4154vw;
  text-align: left;
}

.audio-btn {
  bottom: 55%;
  right: 7.2463vw;
}
