.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20%;
  padding: 10%;
  align-content: center;

  .floating-input {
    position: relative;
    width: 100%;
    margin-top: 15px;

    label {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      background: white;
      padding: 0 4px;
      transition: 0.3s ease all;
      pointer-events: none;
      font-size: 16px;
      z-index: 1;
    }

    label.active {
      top: -10px;
      font-size: 14px;
      color: #3679ff;
    }

    ion-input {
      width: 100%;
      --border-color: #9c3fc3;
      height: 56px;
      font-size: 18px;
      font-weight: 400;
      border-radius: 10px;
      background: transparent;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      --padding-end: 44px; // espaço para o ícone
    }

    ion-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      color: #333;
      font-size: 20px;
      margin-right: -42px;
    }
  }

  .btn-entrar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .custom-outline {
    color: black;
    --border-color: #9c3fc3;
    width: 190px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--border-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .link-senha,
  .link-cadastro {
    text-align: center;
    font-size: 14px;
    color: #3679ff;
    text-decoration: none;
    margin-top: 10px;
  }
}

::ng-deep ion-input .input-outline-container {
  visibility: hidden;
}

.app-footer {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: #9c3fc3;
}


.btn-entrar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link-senha {
  margin-top: 0px;
  text-align: center;
  color: orange !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.link-cadastro {
  margin-top: 0px;
  text-align: center;
  color: red !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.mostrar-senha-icon {
  margin-right: -25px;
  cursor: pointer;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

.my-custom-toast {
  .custom-toast-container {
    background-color: #222;
    border-radius: 10px;
    padding: 12px;
  }

  .custom-toast-content {
    height: 100px !important;
  }

  .custom-toast-message {
    font-size: 18px;
    color: #fff;
  }
}
