<ion-content class="login-container" fullscreen>
  <div class="header-svg-container">
   <svg xmlns="http://www.w3.org/2000/svg" width="412" height="365" viewBox="0 0 412 365" fill="none">
    <path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="#9C3FC3"/>
   </svg>
     <img src="assets/img/bonequinho.png" alt="Logo" class="header-logo" />
  </div>

  <ion-button class="audio-btn" fill="solid" (click)="toggleAudio()">
    <ion-icon name="volume-high" slot="icon-only"></ion-icon>
  </ion-button>

  <audio class="audio-scss" #audioPlayer src="assets/audio/audio-teste.m4a" controls></audio>

<br>
<br>
  <div class="form-container">

  <!-- Campo E-mail -->
  <div class="floating-input">
    <label [class.active]="email || isEmailFocused">E-mail</label>
    <ion-input
      class="custom-input"
      fill="outline"
      type="email"
      [(ngModel)]="email"
      (ionFocus)="isEmailFocused = true"
      (ionBlur)="isEmailFocused = false">
    </ion-input>
  </div>

  <!-- Campo Senha com ícone -->
  <div class="floating-input">
    <label [class.active]="senha || isSenhaFocused">Senha</label>
    <ion-input
      class="custom-input"
      fill="outline"
      [type]="mostrarSenha ? 'text' : 'password'"
      [(ngModel)]="senha"
      (ionFocus)="isSenhaFocused = true"
      (ionBlur)="isSenhaFocused = false">
      <ion-icon
        [name]="mostrarSenha ? 'eye' : 'eye-off'"
        slot="end"
        (click)="togglePassword()"
        class="mostrar-senha-icon">
      </ion-icon>
    </ion-input>
  </div>

  <!-- Links e botão -->
  <a href="/esqueci-minha-senha" class="link-senha">Esqueci minha senha</a>

  <div class="btn-entrar">
    <ion-button fill="clear" class="custom-outline" (click)="login()">Entrar</ion-button>
  </div>

  <a href="/cadastro" class="link-cadastro">Não tem uma conta?</a>
</div>
</ion-content>
