.form-container {
  display: flex;
  flex-direction: column;
  gap: 3.6232vw;
  margin-top: 8.051vh;
  padding: 10vw;
  align-content: center;

  .floating-input {
    position: relative;
    width: 100%;
    margin-top: 1.6357vh;

    label {
      position: absolute;
      left: 3.8647vw;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      background: white;
      padding: 0 0.9662vw;
      transition: 0.3s ease all;
      pointer-events: none;
      font-size: 3.8647vw;
      z-index: 1;
    }

    label.active {
      top: -1.09vh;
      font-size: 3.3816vw;
      color: #3679ff;
    }

    ion-input {
      width: 100%;
      --border-color: #9c3fc3;
      height: 6.10687vh;
      min-height: 6.10687vh;
      font-size: 4.348vw;
      font-weight: 400;
      border-radius: 10px;
      background: transparent;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      --padding-end: 10.629vw;
    }

    ion-icon {
      position: absolute;
      right: 3.8647vw;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      color: #333;
      font-size: 4.831vw;
      margin-right: -10.145vw;
    }
  }

  .btn-entrar {
    display: flex;
    justify-content: center;
    margin-top: 1.09vh;
  }

  .custom-outline {
    color: black;
    --border-color: #9c3fc3;
    width: 45.894vw;
    height: 6.10687vh;
    font-size: 4.831vw;
    font-weight: 700;
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--border-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .link-senha,
  .link-cadastro {
    text-align: center;
    font-size: 3.7vw;
    color: #3679ff;
    text-decoration: none;
    margin-top: 1.09vh;
  }
}

::ng-deep ion-input .input-outline-container {
  visibility: hidden;
}

.app-footer {
  text-align: center;
  margin-top: 3.2715vh;
  font-weight: bold;
  color: #9c3fc3;
}


.btn-entrar {
  display: flex;
  justify-content: center;
  margin-top: 1.09vh;
}

.link-senha {
  margin-top: 0px;
  text-align: center;
  color: orange !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.link-cadastro {
  margin-top: 0px;
  text-align: center;
  color: red !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.mostrar-senha-icon {
  margin-right: -6.0386vw;
  cursor: pointer;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
