.flashcard-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.flashcard-text {
position: absolute;
top: 44%;
left: 56%;
transform: translate(-50%, -50%);
z-index: 1;
color: #FFF;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-family: "Open Sans", sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
width: 223px;
}

p {
  margin: 0;
}

.menino-roxo {
    margin-top: 135px
}

.adicionar-flashcard-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    position: absolute;
    top: 82%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.icone-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 45px;
    height: 45px;
}

.flashcard-texto-explicativo {
    width: 247px;
    color: white;
    // font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 48.1%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flashcard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #9C3FC3;
}
