/* Container do ion-content */
.logo-header-img {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-header-text {
  position: absolute;
  top: 44%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 223px
}

.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* Distância do topo */
  margin-top: 127px; /* ajusta para subir ou descer os inputs */
}

/* Conteúdo do formulário */
.form-content {
  width: 100%;
  max-width: 400px; /* largura máxima do formulário */
  margin: 0 auto;   /* centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Ícones grandes */
.icon-input {
  font-size: 32px;
}

.icon-input.yellow { color: #FFD700; }
.icon-input.blue   { color: #3498db; }
.icon-input.green  { color: #2ecc71; }
.icon-input.orange { color: #f39c12; }
.icon-input.purple { color: #9b59b6; }

/* Botão Salvar estilo "Gerenciar Flashcards" */
.save-btn-wrapper {
  display: flex;
  justify-content: center; /* centraliza o botão */
  margin-top: 12px;
}

.btn-salvar {
    background-color: #9C3FC3;
    border-radius: 10px;
    width: 185px;
    height: 56px;
    margin-top: 12px;
    z-index: -1;
    border-color: black;
    border: 2.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salvar-text {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.criar-flashcard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
  }

  ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #9C3FC3;
}
