.input-file {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

/* Container do ion-content */
.logo-header-img {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-header-text {
    position: absolute;
    top: 44.6%;
    left: 56%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 53.8647vw;
}

.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 4.831vw;
  box-sizing: border-box;

  /* Distância do topo */
  margin-top: 13.8495vh; /* ajusta para subir ou descer os inputs */
}

/* Conteúdo do formulário */
.form-content {
  width: 100%;
  max-width: 96.618vw; /* largura máxima do formulário */
  height: 67.6118vh;
  margin: 0 auto;   /* centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 3.8647vw;
}

/* Inputs */
.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 2.8985vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 90.3382vw;
  height: 6.10687vh;
}

/* Ícones grandes */
.icon-input {
  font-size: 7.73vw;
}

.icon-input.yellow { color: #FFD700; }
.icon-input.blue   { color: #3498db; }
.icon-input.green  { color: #2ecc71; }
.icon-input.orange { color: #f39c12; }
.icon-input.purple { color: #9b59b6; }
.icon-input.x { color: #ff0000}

/* Botão Salvar estilo "Gerenciar Flashcards" */
.save-btn-wrapper {
  display: flex;
  justify-content: center; /* centraliza o botão */
  margin-top: 2.181vh;
}

.btn-salvar {
  all: unset;
  --background: #9C3FC3;
  --border-radius: 6px;
  border-radius: 10px;
  width: 44.686vw;
  height: 6.10687vh;
  --border-color: black;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.salvar-text {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.criar-flashcard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

  ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.66vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
  }

  ion-button.inicio-btn {
    all: unset;
    width: 19.9012vw;
    height: 9.9645vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6956vh;
    margin-right: 9.66vw;
    --background: transparent;
    --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #63C03C;
  filter: invert(1);
}

.alert-campos-obrigatorios {
    height: 10.905vh;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #ffecec;
    border-left: 6px solid #ff3b30;
    border-radius: 8px;
    color: #d00000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-icon {
  margin-right: 2.4154vw;
}

.error-icon2 {
  margin-right: 2.4154vw;
  color: #ff3b30;
  font-size: 16.908vw;
}

.alert-erro {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffecec;
  border-left: 6px solid #ff3b30;
  padding: 3.8647vw;
  margin-top: 1.7448vh;
  border-radius: 8px;
  color: #d00000;
  gap: 0.4831vw;
  font-size: 3.8647vw;
  font-weight: 500;
  line-height: 1.4;
  z-index: 1;
  width: 75vw;
  display: flex;
  align-items: center;
}

.alert-erro2 {
  position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffecec;
    border-left: 6px solid #ff3b30;
    padding: 3.8647vw;
    margin-top: 1.7448vh;
    border-radius: 8px;
    color: #d00000;
    gap: 0.4831vw;
    font-size: 3.8647vw;
    font-weight: 500;
    line-height: 1.4;
    z-index: 1;
    width: 89vw;
    display: flex;
    align-items: center;
}

.alert-success {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0f8e4;
  border-left: 6px solid #00ff26;
  padding: 3.8647vw;
  margin-top: 1.7448vh;
  border-radius: 8px;
  color: #018f16;
  font-size: 4.1063vw;
  font-weight: 500;
  line-height: 1.4;
  gap: 1.93236vw;
  z-index: 1;
  width: 82vw;
  display: flex;
  align-items: center;
}

.success-icon {
  color: #017e14;
  font-size: 5.797vw;
}
