.input-file {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
}

/* Container do ion-content */
.logo-header-img {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-header-text {
    position: absolute;
    top: 45%;
    left: 56%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 53.8647vw;
}

.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* Distância do topo */
  margin-top: 127px; /* ajusta para subir ou descer os inputs */
}

/* Conteúdo do formulário */
.form-content {
  width: 100%;
  max-width: 400px; /* largura máxima do formulário */
  height: 620px;
  margin: 0 auto;   /* centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 90.3382vw;
  height: 13.52657vw;
}

/* Ícones grandes */
.icon-input {
  font-size: 32px;
}

.icon-input.yellow { color: #FFD700; }
.icon-input.blue   { color: #3498db; }
.icon-input.green  { color: #2ecc71; }
.icon-input.orange { color: #f39c12; }
.icon-input.purple { color: #9b59b6; }
.icon-input.x { color: #ff0000}

/* Botão Salvar estilo "Gerenciar Flashcards" */
.save-btn-wrapper {
  display: flex;
  justify-content: center; /* centraliza o botão */
  margin-top: 20px;
}

.btn-salvar {
  all: unset;
  --background: #9C3FC3;
  --border-radius: 6px;
  border-radius: 10px;
  width: 44.686vw;
  height: 13.5266vw;
  --border-color: black;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.salvar-text {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.criar-flashcard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
  }

  ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
  }

  ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #63C03C;
  filter: invert(1);
}

.alert-campos-obrigatorios {
    height: 100px;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #ffecec;
    border-left: 6px solid #ff3b30;
    border-radius: 8px;
    color: #d00000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-icon {
  margin-right: 10px;
}

.error-icon2 {
  margin-right: 10px;
  color: #ff3b30;
  font-size: 70px;
}

.alert-erro {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffecec;
  border-left: 6px solid #ff3b30;
  padding: 16px;
  margin-top: 16px;
  border-radius: 8px;
  color: #d00000;
  gap: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  z-index: 1;
  width: 75%;
  display: flex;
  align-items: center;
}

.alert-erro2 {
  position: fixed;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffecec;
    border-left: 6px solid #ff3b30;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    color: #d00000;
    gap: 2px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    z-index: 1;
    width: 89%;
    display: flex;
    align-items: center;
}

.alert-success {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0f8e4;
  border-left: 6px solid #00ff26;
  padding: 16px;
  margin-top: 16px;
  border-radius: 8px;
  color: #018f16;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  gap: 8px;
  z-index: 1;
  width: 82%;
  display: flex;
  align-items: center;
}

.success-icon {
  color: #017e14;
  font-size: 24px;
}
