.contatos-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contatos-text {
  position: absolute;
  top: 44%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  // font-family: "Open Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  margin: 0;
}

.menina-laranja {
    margin-top: 158px
}

.adicionar-contato-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    position: absolute;
    top: 82%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.icone-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 45px;
    height: 45px;
}

.contatos-texto-explicativo {
    width: 233px;
    color: white;
    // font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 48.3%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
    width: 246px;
}

.contatos-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #249CD9;
  filter: invert(1);
}

// contatos
.vetor-contatos{
  margin: 150px auto 0 auto;
  display: flex;
  justify-content: center;
  width: 307px;
  height: 176px;
  flex-shrink: 0;
  background-color: #FFF;
  border: 2px solid #EDB192;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  position: relative;
  // padding-top: 60px; /* Espaço para os botões */
  // padding-bottom: 20px;
}

.fotoPerfil {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  position: fixed;
  aspect-ratio: 1 / 1;
  top: 10%;
  left: 7%;
  margin: 0;
}

.contato-nome {
  font-size: 17px;
  font-weight: 600;
  position: fixed;
  margin: 0px;
  top: 9%;
  left: 35%;
  width: 185px;
}

.contato-relacao {
    font-size: 17px;
    font-weight: 600;
    position: fixed;
    top: 25%;
    left: 36%;
    background-color: #9C3FC3;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

.contato-telefone {
    font-size: 17px;
    color: black;
    font-weight: 700;
    position: fixed;
    top: 51%;
    left: 35%;
}

.contato-endereco {
  font-size: 14px;
  font-weight: 400;
  color: black;
  position: fixed;
  top: 69%;
  left: 28%;
  width: 200px;
  height: 45px;
}

.flashcard-registro-editar-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  position: fixed;
  top: 25%;
  left: 77%;
}

.flashcard-registro-editar-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #DB6326;
  font-weight: 600;
}

.flashcard-registro-editar-btn-svg {
  color: #DB6326;
}

.loading {
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  top: 40%;
  left: 24%;
  width: 250px;
}
