.contatos-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.contatos-text {
  position: absolute;
  top: 44%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contatos-container {
  height: 220vw
}

p {
  margin: 0;
}

.menina-laranja {
    margin-top: 158px
}

.adicionar-contato-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    position: fixed;
    top: 82%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.icone-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 45px;
    height: 45px;
}

.contatos-texto-explicativo {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 42.3%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 246px;
}

.contatos-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 91.3906px;
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #249CD9;
  filter: invert(1);
}

// contatos
.vetor-contatos{
  margin: 33.816vw auto 0 auto;
  display: flex;
  justify-content: center;
  width: 74.157vw;
  height: 55.556vw;
  flex-shrink: 0;
  background-color: #FFF;
  border: 2px solid #EDB192;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  position: relative;
  // padding-top: 60px; /* Espaço para os botões */
  // padding-bottom: 20px;
  --border-style: none;
  --background: white;
  --width: 100%;
  --height: 100%;
}

.fotoPerfil {
  width: 17.876vw;
  height: 17.876vw;
  flex-shrink: 0;
  position: fixed;
  aspect-ratio: 1 / 1;
  top: 8%;
  left: 7%;
  margin: 0;
}

.contato-nome {
  font-size: 4.106vw;
  font-weight: 600;
  position: fixed;
  margin: 0px;
  top: 6%;
  left: 35%;
  width: 44.686vw;
}

.contato-relacao {
    font-size: 4.1064vw;
    font-weight: 600;
    position: fixed;
    top: 18%;
    left: 36%;
    background-color: #9C3FC3;
    color: white;
    border-radius: 5px;
    padding: 1.933vw;
}

.contato-telefone {
    font-size: 17px;
    color: black;
    font-weight: 700;
    position: fixed;
    top: 39%;
    left: 35%;
    display: flex;
    align-items: center;
}

.call-icon {
  margin-right: 5px;
}

.contato-audio {
  width: 66.667vw;
  height: 9.663vw;
  position: fixed;
  top: 55%;
  left: 5%;
}

.contato-audio::-webkit-media-controls-panel {
  background-color: white;
}

.contato-endereco {
    font-size: 3.381vw;
    font-weight: 400;
    color: black;
    position: fixed;
    top: 78%;
    left: 29%;
    width: 48.31vw;
    height: 10.87vw;
}

.location {
  position: fixed;
  top: 75%;
  left: 8%;
  height: 12.803vw;
  width: 12.803vw;
}

.flashcard-registro-editar-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  position: fixed;
  top: 16.5%;
  left: 77%;
}

.flashcard-registro-editar-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #DB6326;
  font-weight: 600;
}

.flashcard-registro-editar-btn-svg {
  color: #DB6326;
}

.loading {
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  top: 40%;
  left: 24%;
  width: 250px;
}
