.form-page {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-wrapper {
  width: 100%;
  padding: 4.831vw;
  box-sizing: border-box;

  /* Distância do topo */
  margin-top: 38%; /* ajusta para subir ou descer os inputs */
}

.add-container {
    width: 100%;
    max-width: 96.618vw; /* largura máxima do formulário */
    margin: 0 auto;   /* centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    gap: 1.744vh;
}

.meu-dia-add-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.add-text {
    position: absolute;
    top: 46%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 6.05vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

img {
    max-width: fit-content;
}

.input-item {
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 5.2344vh;

  .icon-input.yellow { color: #FFD700; }
  .icon-input.newgreen { color: #16b954 }
  .icon-input.blue   { color: #3498db; }
  .icon-input.green  { color: #2ecc71; }
  .icon-input.orange { color: #f39c12; }
  .icon-input.purple { color: #9b59b6; }
}

.add-horario-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  margin-right: 2.415vw;
}

.add-video-foto-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  margin-right: 2.415vw;
}

/* remove aparência nativa */
.input-file {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  max-width: 24.1545vw;
  max-height: 10.905vh;
}

.preview-midia{
  max-width: 12.077vw;
  max-height: 5.4525vh;
  margin-left: 2.415vw;
}

.secao-salvar-excluir {
  width: 100%;
  height: 14.6128vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.144vh;
}

.btn-excluir {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  height: 11.9956vh;
  width: 26.57vw;
}

.excluir-icone {
  color: red;
  height: 8.724vh;
  width: 19.3236vw;
}

.btn-salvar {
  all: unset;
  --background: #9C3FC3;
  --border-radius: 6px;
  width: 44.686vw;
  height: 6.1068vh;
  --border-color: black;
  border: 2.5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.salvar-text {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.alerta-confirmacao {
  position: absolute;
  top: 67%;
  left: 61%;
  transform: translate(-50%, -50%);
  background-color: #16b954;
  width: 68.169vw;
  height: 8.9422vh;
  border-radius: 9.1787vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alerta-confirmacao-texto {
  font-size: 4.15vw;
  height: 2.0174vh;
  margin-top: 1.308vh;
  color: white;
}

.alerta-confirmacao-btns {
  height: 3.2715vh;
  display: flex;
  flex-direction: row;
  margin-top: 0.8724vh;
}

.alerta-confirmacao-sim-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  margin-right: 9.903vw;
  color: white;
}

.alerta-confirmacao-nao-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  color: white;
}

.alerta-confirmacao-sucesso {
  width: 66.319vw;
  height: 7.306vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8647vw;
  position: absolute;
  top: 67%;
  left: 61%;
  transform: translate(-50%, -50%);
  background-color: #16b954;
  color: white;
  border-radius: 9.1787vw;
  z-index: 2;
  visibility: hidden;
}

.add-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.6618vw;
  --background: transparent;
  --box-shadow: transparent;

.voltar-btn-div {
  width: 19.9012vw;
  height: 9.9645vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voltar-svg {
  height: 5.2344vh;
  width: 22.071vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 19.897vw;
  height: 9.9645vh;
  font-size: 2.8985vw;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 0.327vh;
}
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.6618vw;
  --background: transparent;
  --box-shadow: transparent;

.inicio-btn-div {
  width: 19.9012vw;
  height: 9.9645vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio-svg {
  height: 5.2344vh;
  width: 22.071vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 19.897vw;
  height: 9.9645vh;
  font-size: 2.8985vw;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 0.327vh;
}
}

.audio-scss {
  position: absolute;
  top: 31%;
  left: 31%;
  z-index: 1;
  width: 65vw;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #E94AAB;
  filter: invert(1);
}

.alert-erro {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffecec;
  border-left: 6px solid #ff3b30;
  padding: 3.8647vw;
  margin-top: 1.744vh;
  border-radius: 1.932vw;
  color: #d00000;
  gap: 2px;
  font-size: 3.8647vw;
  font-weight: 500;
  line-height: 1.4;
  z-index: 1;
  width: 75vw;
  display: flex;
  align-items: center;
}

.error-icon {
  margin-right: 2.415vw;
}

.alert-success {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #daf9df;
  border-left: 6px solid #00ff26;
  padding: 3.8647vw;
  margin-top: 1.744vh;
  border-radius: 8px;
  color: #018f16;
  font-size: 4.106vw;
  font-weight: 500;
  line-height: 1.4;
  gap: 8px;
  z-index: 1;
  width: 82%;
  display: flex;
  align-items: center;
}

.success-icon {
  color: #017e14;
  font-size: 5.797vw;
}

