<div class="header-svg-container">
  <svg xmlns="http://www.w3.org/2000/svg" width="412" height="365" viewBox="0 0 412 365" fill="none">
    <path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="#FAC946"/>
  </svg>
  <svg class="meu-dia-registros-svg" xmlns="http://www.w3.org/2000/svg" width="52" height="45" viewBox="0 0 52 45" fill="none">
    <path d="M49.3828 43.5H2.61719L26 2.99902L49.3828 43.5Z" fill="white" stroke="black" stroke-width="3"/>
  </svg>
  <p class="meu-dia-registros-text">Meu Dia</p>
</div>

<ion-button class="audio-btn" fill="solid" (click)="toggleAudio()">
  <ion-icon name="volume-high" slot="icon-only"></ion-icon>
</ion-button>

<audio class="audio-scss" #audioPlayer src="assets/audio/audio-teste.m4a" controls></audio>

<ion-content fullscreen>

  <!-- agora o if trata vazio também -->
  <div *ngIf="(registrosAgrupados$ | async) as registrosAgrupados; else semRegistros" class="registros">
    <ng-container *ngIf="getKeys(registrosAgrupados).length > 0; else semRegistros">


      <div *ngFor="let dia of (registrosAgrupados | keyvalue)">
        <p class="dia-da-semana-titulo">{{ dia.key }}</p>

        <div class="secao-registros">
          <ion-label class="dia-registro" *ngFor="let registro of dia.value">
            <div class="video-foto">
              <ion-button class="video-foto-btn">
                <img [src]="
                  registro.tipoMidia === 'imagem' ? registro.midiaUrl :
                  registro.tipoMidia === 'video' ? 'assets/video-play-1.png' :
                  'assets/audio-icon.png'
                ">
              </ion-button>
            </div>

            <div class="dia-registro-titulo">{{ registro.titulo }}</div>
            <div class="dia-registro-horario">{{ registro.horario }}</div>

            <div class="dia-registro-editar-btn-posicao">
              <ion-button class="dia-registro-editar-btn">
                <div class="dia-registro-editar-btn-div">
                  <svg class="dia-registro-editar-btn-svg" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path d="M2.08333 20.8594C1.51042 20.8594 1.01997 20.6554 0.611979 20.2474C0.203993 19.8394 0 19.349 0 18.776V4.19271C0 3.61979 0.203993 3.12934 0.611979 2.72135C1.01997 2.31337 1.51042 2.10938 2.08333 2.10938H11.3802L9.29687 4.19271H2.08333V18.776H16.6667V11.5365L18.75 9.45312V18.776C18.75 19.349 18.546 19.8394 18.138 20.2474C17.73 20.6554 17.2396 20.8594 16.6667 20.8594H2.08333ZM6.25 14.6094V10.1823L15.8073 0.625C16.0156 0.416667 16.25 0.260417 16.5104 0.15625C16.7708 0.0520833 17.0312 0 17.2917 0C17.5694 0 17.8342 0.0520833 18.0859 0.15625C18.3377 0.260417 18.5677 0.416667 18.776 0.625L20.2344 2.10938C20.4253 2.31771 20.5729 2.54774 20.6771 2.79948C20.7812 3.05122 20.8333 3.30729 20.8333 3.56771C20.8333 3.82812 20.7856 4.0842 20.6901 4.33594C20.5946 4.58767 20.4427 4.81771 20.2344 5.02604L10.6771 14.6094H6.25ZM8.33333 12.526H9.79167L15.8333 6.48438L15.1042 5.75521L14.349 5.02604L8.33333 11.0417V12.526Z" fill="white"/>
                  </svg>
                  Editar
                </div>
              </ion-button>
            </div>
          </ion-label>
        </div>
      </div>

    </ng-container>
  </div>

  <!-- tela quando não houver registros -->
  <ng-template #semRegistros>
    <div class="meu-dia-container">
      <img class="menina-amarelo" src="assets/menina-amarelo-1.png">
      <p class="meu-dia-texto-explicativo">
        Nessa tela, você pode registrar <br>
        momentos do seu dia, como o <br>
        almoço. Para adicionar, basta <br>
        clicar no botão abaixo. Lembre- <br>
        se, tudo o que for adicionado será
        apagado automaticamente à meia noite.
      </p>
    </div>
  </ng-template>

  <ion-button class="adicionar-meu-dia-btn" href="add">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
      <circle cx="35" cy="35" r="35" fill="#9C3FC3"/>
    </svg>
    <ion-icon class="icone-mais" name="add-outline"></ion-icon>
  </ion-button>

  <div *ngIf="mostrarJanela" class="overlay" (click)="fecharJanelaMais()"></div>

  <div *ngIf="mostrarJanela" class="janela-mais-opcoes" (click)="$event.stopPropagation()">
    <ion-button class="janela-mais-config-btn" href="config">
      <div class="janela-mais-config-btn-div">
        <!-- ... SVG config ... -->
        <div class="janela-mais-config-btn-texto">Config.</div>
      </div>
    </ion-button>

    <ion-button class="janela-mais-site-btn">
      <div class="janela-mais-site-btn-div">
        <!-- ... SVG site ... -->
        <div class="janela-mais-site-btn-texto">Ir para o Site</div>
      </div>
    </ion-button>
  </div>

  <ion-footer class="meu-dia-registros-footer">
    <ion-button class="inicio-btn" href="/principal">
      <div class="inicio-btn-div">
        <div class="inicio-svg">
          <!-- ... SVG início ... -->
        </div>
        <div class="inicio-texto"><p class="inicio">Início</p></div>
      </div>
    </ion-button>

    <ion-button (click)="mostrarJanelaMais()" class="mais-btn-1">
      <div class="mais-btn-div-1">
        <div class="mais-svg-1">
          <!-- ... SVG mais ... -->
        </div>
        <div class="mais-texto-1"><p>Mais</p></div>
      </div>
    </ion-button>
  </ion-footer>

</ion-content>
