
.video-preview,
.video-player {
  width: 70vw;
  max-height: 32.715vh; /* ajuste conforme suas imagens */
  object-fit: cover;
  border-radius: 12px; /* mesmo arredondamento das imagens */
  display: block;
  margin: 0 auto;
  margin-right: 22.947vw;
}


.meu-dia-registros-svg {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.meu-dia-registros-text {
  position: absolute;
  top: 45%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  margin: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* ocupa toda a altura da tela */
  color: #9C3FC3; /* cor combinando com seu tema */
  font-size: 4.3478vw;
}

.meu-dia-registros-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  font-family: Inter;
  font-size: 2.8985vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.meu-dia-container {
  overflow: hidden;
  height: 100%;
}

.dia-da-semana-titulo {
  display: flex;
  justify-content: center;
  margin-top: 15.8124vh;
  font-size: 6.0386vw;
}

.registros {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.secao-registros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.7263vh;
}

.dia-registro {
  width: 38.6474vw;
  height: 21.8102vh;
  background-color: #16b954;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 2.7263vh;
  border-radius: 20px;
  border: 3px solid black;
  margin-right: 3.6232vw;
  margin-left: 3.6232vw;
}

.video-foto {
  display: flex;
  justify-content: center;
  margin-top: 1.3086vh;
  width: 36.232vw;
  height: 9.8146vh;
}

.video-foto-btn img {
  width: 24.1546vw;
  height: 10.905vh;
  border-radius: 15px; /* deixa arredondada igual ao card */
  object-fit: cover;   /* mantém proporção e corta se necessário */
}


.video-foto-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
}

ion-button.video-foto-btn::part(native) {
  --margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.dia-registro-titulo {
  margin-top: 2.415vw;
  margin-left: 3.14vw;
  width: 21.015vw;
  height: 3.4896vh;
  color: white;
  font-size: 4vw;
}

.dia-registro-horario {
  width: 12.0773vw;
  margin-left: 3.623vw;
  margin-top: 1.5267vh;
  color: white;
  font-size: 4vw;
}

.dia-registro-editar-btn-posicao {
    width: 12.0773vw;
    height: 5.4525vh;
    margin-left: 22.705vw;
    margin-top: -5.0163vh;
}

ion-button.dia-registro-editar-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  display: flex;
  width: 12.0773vw;
  height: 5.317vh;
}

.dia-registro-editar-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: white;
}

.dia-registro-editar-btn-svg {
  margin-bottom: 0.5452vh;
}

.adicionar-meu-dia-btn {
    all: unset;
    --background: transparent;
    --box-shadow: transparent;
    position: fixed;
    top: 82%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.icone-mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 10.869vw;
    height: 4.9073vh;
}

.meu-dia-registros-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.401vw;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

.audio-scss {
  position: absolute;
  top: 28.5%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #E946AB;
  filter: invert(1);
}

// Parte Bonequinha
.menina-amarelo {
  position: fixed;
  top: 62.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}

.meu-dia-texto-explicativo {
    width: 59vw;
    color: white;
    font-size: 3.9vw;
    font-style: normal;
    font-weight: 700;
    position: fixed;
    top: 38.7%;
    left: 26%;
    text-align: center;
    overflow: hidden;
}

.imagem-miniatura {
  width: 100%;
  max-width: 24.1546vw;
  border-radius: 8px;
  cursor: pointer;
}

.modal-imagem {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-tela-cheia {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.btn-fechar {
  position: absolute;
  top: 2.181vh;
  right: 4.831vw;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 7.7295vw;
  border: none;
  cursor: pointer;
  z-index: 100000;
}
