.form-container {
  display: flex;
  flex-direction: column;
  gap: 3.6232vw;
  margin-top: 11vh;
  padding: 10vw;
  align-content: center;

  .floating-input {
    position: relative;
    width: 100%;
    margin-top: 1.6357vh;

    label {
      position: absolute;
      left: 3.8647vw;
      top: 50%;
      transform: translateY(-50%);
      color: #999;
      background: white;
      padding: 0 0.9662vw;
      transition: 0.3s ease all;
      pointer-events: none;
      font-size: 3.8647vw;
      z-index: 1;
    }

    label.active {
      top: -1.09vh;
      font-size: 3.3816vw;
      color: #3679ff;
    }

    ion-input {
      width: 100%;
      --border-color: #9c3fc3;
      height: 6.10687vh;
      min-height: 6.10687vh;
      font-size: 4.3478vw;
      font-weight: 400;
      border-radius: 2.4154vw;
      background: transparent;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      --padding-end: 10.628vw; // espaço para o ícone
    }

    ion-icon {
      position: absolute;
      right: 3.8647vw;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      color: #333;
      font-size: 4.831vw;
      margin-right: -10.145vw;
    }
  }
}

::ng-deep ion-input .input-outline-container {
  visibility: hidden;
}

.btn-entrar {
  display: flex;
  justify-content: center;
  margin-top: 1.09vh;
}

.link-senha {
  margin-top: 0px;
  text-align: center;
  color: orange;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.link-cadastro {
  margin-top: 0px;
  text-align: center;
  color: red;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
