<ion-content class="login-container" fullscreen>
  <div class="header-svg-container">
   <svg xmlns="http://www.w3.org/2000/svg" width="412" height="365" viewBox="0 0 412 365" fill="none">
    <path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="#9C3FC3"/>
   </svg>
     <img src="assets/img/bonequinho.png" alt="Logo" class="header-logo" />
  </div>


  <ion-button class="audio-btn" fill="solid">
  <ion-icon name="volume-high" slot="icon-only"></ion-icon>
</ion-button>

  <div class="form-container">
    <ion-input></ion-input>
  <ion-input class="custom-input" fill="outline" placeholder="Nova senha" type="password"></ion-input>
  <ion-input class="custom-input" fill="outline" placeholder="Repita a senha" type="password"></ion-input>

    <div class="btn-entrar">
  <ion-button fill="clear" class="custom-outline">Salvar</ion-button>
  </div>
  </div>

  <div class="app-footer">Memória Viva</div>
</ion-content>
