.audio-config-svg {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.audio-config-text {
    position: absolute;
    top: 45.1%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.05vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.play-img {
  width: 26.57vw;
  height: 11.995vh;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.play-img.show {
  opacity: 1;
}

.video-representacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9C3FC3;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74.40vw;
  height: 17.67vh;
}

.video-player {
  display: block;
  border-radius: 8px;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-config-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.btn-sim {
    all: unset;
    --background: transparent;
    --border-color: green;
    width: 72vw;
    height: 9.3vh;
    border: 0.5px solid var(--border-color);
    --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 3.632vw;
    font-style: normal;
    font-weight: 700;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: left;
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-nao {
    all: unset;
    --background: transparent;
    --border-color: red;
    width: 72vw;
    height: 9.3vh;
    font-weight: 700;
    border: 0.5px solid var(--border-color);
    --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 3.623vw;
    font-style: normal;
    font-weight: 700;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: left;
    position: fixed;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-nao-text {
    margin-left: 2.415vw;
    margin-right: 0.966vw;
    margin-top: 0.4362vh;
    font-size: 3.5vw;
}

.btn-sim-text {
    margin-left: 2.415vw;
    margin-right: 2.9468vw;
    margin-top: 0.436vh;
    font-size: 3.5vw;
}

.btn-salvar {
    all: unset;
    --background: #9C3FC3;
    --border-radius: 6px;
    border-radius: 10px;
    width: 185px;
    height: 56px;
    --border-color: black;
    border: 2.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.salvar-text {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.config-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.4vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2345vh;
    width: 22.071vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9646vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2345vh;
    width: 22.071vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9646vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
  margin-bottom: 0.545vh;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

