.header-text {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 72.4637vw;
  color: #FFF;
  font-family: Inter;
  font-size: 7.2464vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-principal {
  display: flex;
  justify-content: center;
  font-size: 7.2464vw;
  margin-bottom: 9.662vw;
  font-weight: 700;
  width: 100%;
}

.principal-container {
  display: flex;
  flex-wrap: wrap;
  height: 26.57vw;
  width: 100%;
  justify-content: center;
  margin-top: 31.401vw;
}

.minhas-memorias-btn-div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 27.2947vw;
  width: 27.2947vw;
  padding-top: 2.4155vw;
}

ion-button.minhas-memorias-btn {
    all: unset;
    height: 27.2947vw;
    width: 27.2947vw;
    --background: #9C3FC3;
    color: white;
    --border-radius: 4.831vw;
    margin-right: 8.4542vw;
    margin-bottom: 8.4542vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.meu-dia-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: 27.2947vw;
  width: 27.2947vw;
  padding-top: 0.483vw;
}

ion-button.meu-dia-btn {
    all: unset;
    height: 27.2947vw;
    width: 27.2947vw;
    --background: #16b954;
    color: white;
    --border-radius: 4.831vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.contatos-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 27.2947vw;
    width: 27.2947vw;
}

ion-button.contatos-btn {
    all: unset;
    height: 27.2947vh;
    width: 27.2947vw;
    --background: #DB6326;
    color: white;
    --border-radius: 4.831vw;
    margin-right: 35.8244vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.minhas-memorias-texto {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3.8647vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 0.0772vw;
  -webkit-text-stroke-color: #000;
}

.minhas-memorias, .meu-dia {
  margin: 0;
  margin-bottom: 1.2077vw;
}

.meu-dia-texto {
    font-size: 3.8647vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 0.0772vw;
    -webkit-text-stroke-color: #000;
    margin-top: 2.4155vw;
}

.contatos-texto {
  font-size: 3.8647vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-text-stroke-width: 0.0772vw;
  -webkit-text-stroke-color: #000;
}

.principal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
}

.perfil-btn-div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82.3906px;
  height: 91.375px;
}

ion-button.perfil-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;
}

.perfil-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 82.375px;
  height: 91.375px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 6px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.audio-scss {
  position: fixed;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

