.header-text {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 300px;
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-principal {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 700;
}

.principal-container {
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  width: 412px;
  justify-content: center;
  margin-top: 130px;
}

.minhas-memorias-btn-div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 113px;
  width: 113px;
  padding-top: 10px;
}

ion-button.minhas-memorias-btn {
    all: unset;
    height: 113px;
    width: 113px;
    --background: #9C3FC3;
    color: white;
    --border-radius: 20px;
    margin-right: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.meu-dia-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: 113px;
  width: 113px;
  padding-top: 2px;
}

ion-button.meu-dia-btn {
    all: unset;
    height: 113px;
    width: 113px;
    --background: #FAC946;
    color: white;
    --border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.contatos-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 113px;
    width: 113px;
}

ion-button.contatos-btn {
    all: unset;
    height: 113px;
    width: 113px;
    --background: #DB6326;
    color: white;
    --border-radius: 20px;
    margin-right: 148.313px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.minhas-memorias-texto {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 0.32px;
  -webkit-text-stroke-color: #000;
}

.minhas-memorias, .meu-dia {
  margin: 0;
  margin-bottom: 5px;
}

.meu-dia-texto {
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    -webkit-text-stroke-width: 0.32px;
    -webkit-text-stroke-color: #000;
    margin-top: 10px;
}

.contatos-texto {
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  -webkit-text-stroke-width: 0.32px;
  -webkit-text-stroke-color: #000;
}

.principal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
}

.perfil-btn-div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82.3906px;
  height: 91.375px;
}

ion-button.perfil-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;
}

.perfil-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 82.375px;
  height: 91.375px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 6px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}



