.header-text {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 72.4637vw;
  color: #FFF;
  font-family: Inter;
  font-size: 7.2464vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-principal {
  display: flex;
  justify-content: center;
  font-size: 7.2464vw;
  margin-bottom: 4.362vh;
  font-weight: 700;
  width: 100%;
}

.principal-container {
  display: flex;
  flex-wrap: wrap;
  height: 12vh;
  width: 100%;
  justify-content: center;
  margin-top: 14.4vh;
}

.minhas-memorias-btn-div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 12.3228vh;
  width: 27.2947vw;
  padding-top: 1.09vh;
}

ion-button.minhas-memorias-btn {
    all: unset;
    height: 12.3228vh;
    width: 27.2947vw;
    --background: #9C3FC3;
    color: white;
    --border-radius: 4.831vw;
    margin-right: 8.4542vw;
    margin-bottom: 8.4542vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.meu-dia-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: 12.3228vh;
  width: 27.2947vw;
  padding-top: 0.2181vh;
}

ion-button.meu-dia-btn {
    all: unset;
    height: 12.3228vh;
    width: 27.2947vw;
    --background: #16b954;
    color: white;
    --border-radius: 4.831vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --padding-top: 0px;
}

.contatos-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 12.3228vh;
    width: 27.2947vw;
}

ion-button.contatos-btn {
    all: unset;
    height: 12.3228vh;
    width: 27.2947vw;
    --background: #DB6326;
    color: white;
    --border-radius: 4.831vw;
    margin-right: 35.8244vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.minhas-memorias-texto {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3.8647vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke-width: 0.0772vw;
  -webkit-text-stroke-color: #000;
}

.minhas-memorias, .meu-dia {
  margin: 0;
  margin-bottom: 0.54525vh;
}

.meu-dia-texto {
    font-size: 3.8647vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 0.0772vw;
    -webkit-text-stroke-color: #000;
    margin-top: 1.09vh;
}

.contatos-texto {
  font-size: 3.8647vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-text-stroke-width: 0.0772vw;
  -webkit-text-stroke-color: #000;
}

.principal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

.perfil-btn-div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.9012vw;
  height: 9.9645vh;
}

ion-button.perfil-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.401vw;
  --background: transparent;
  --box-shadow: transparent;
}

.perfil-svg {
  height: 5.2344vh;
  width: 22.0712vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 19.897vw;
  height: 9.9645vh;
  font-size: 2.8985vw;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 0.4vh;
}

p {
  margin: 0;
  margin-bottom: 0.5452vh;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

