ion-input {
  color: #000;
  --placeholder-color: #000;
  --placeholder-opacity: 1;
  border-color: #9c3fc3;
  --highlight-color: #9c3fc3;
  border-radius: 10px;
}

.btn-enviar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-voltar {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: red;
}
