.premium-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 412px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 74.3962vw;
    height: 52.6571vw;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 2.4155vw;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 22.9469vw;
    color: #000;
    font-family: Inter;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.secao-texto-principal {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 700;
}

.texto-principal {
    margin-top: 3.8647vw;
    margin-bottom: 3.3816vw;
}

.secao-flashcards {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
}

.flashcards-text {
    margin-top: 0.483vw;
    margin-left: 4.3478vw;
    margin-right: 14.9758vw;
    margin-bottom: 4.831vw;
}

.secao-meu-dia {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
}

.meu-dia-text {
    margin-top: 0.483vw;
    margin-left: 4.3478vw;
    margin-right: 22.4637vw;
    margin-bottom: 6.0386vw;
}

.secao-contatos {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
}

.contatos-text {
    margin-top: 0.483vw;
    margin-left: 3.3816vw;
    margin-right: 20.5314vw;
}

.conteudo-ilimitado-text {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3.8647vw;
}

.assine-premium-btn {
  all: unset;
  width: 59.421vw;
  height: 16.9083vw;
  --border-radius: 4.831vw;
  --background: #DB6326;
  margin-top: 7.24638vw;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.assine-premium-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.6231vw;
    margin-right: 3.3817vw;
    margin-top: 0.7246vw;
}

.premium-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
}

ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.audio-scss {
  position: fixed;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
