.premium-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 412px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 308px;
    height: 218px;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 95px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.secao-texto-principal {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
}

.texto-principal {
    margin-top: 16px;
    margin-bottom: 14px;
}

.secao-flashcards {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.flashcards-text {
    margin-top: 2px;
    margin-left: 18px;
    margin-right: 62px;
    margin-bottom: 20px;
}

.secao-meu-dia {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.meu-dia-text {
    margin-top: 2px;
    margin-left: 18px;
    margin-right: 93px;
    margin-bottom: 20px;
}

.secao-contatos {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.contatos-text {
    margin-top: 2px;
    margin-left: 14px;
    margin-right: 85px;
}

.conteudo-ilimitado-text {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.assine-premium-btn {
  width: 246px;
  height: 70px;
  border-radius: 20px;
  background-color: #DB6326;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.assine-premium-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 26px;
}

.premium-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
}

.voltar-btn {
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  background-color: transparent;
}

.voltar-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 82.375px;
  height: 91.375px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 3px;
}

.mais-btn {
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  background-color: transparent;
}

.mais-svg {
  height: 48px;
  width: 82.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mais-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 82.375px;
  height: 91.375px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #737373;
}

.inicio-btn {
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 40px;
  background-color: transparent;
}

.inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-texto {
  font-family: Inter;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 82.375px;
  height: 91.375px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #737373;
  margin-top: 3px;
}

.voltar {
  margin: 0;
  margin-bottom: 5px;
}

.inicio {
  margin: 0;
  margin-bottom: 5px;
}

.mais {
    margin: 0;
    margin-bottom: 5px;
}

