.premium-container {
    display: flex;
    flex-direction: column;
    height: 54.5256vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5.4525vh;
}

.user-info {
    width: 74.3962vw;
    height: 23.773vh;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 2.4155vw;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 10.36vh;
    color: #000;
    font-family: Inter;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.secao-texto-principal {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 700;
}

.texto-principal {
    margin-top: 1.745vh;
    margin-bottom: 1.5267vh;
}

.secao-flashcards {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
    height: 5.5vh;
}

.flashcards-text {
    margin-top: 0.2181vh;
    margin-left: 4.3478vw;
    margin-right: 14.9758vw;
    margin-bottom: 2.181vh;
}

.secao-meu-dia {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
    height: 5.8vh;
}

.meu-dia-text {
    margin-top: 0.2181vh;
    margin-left: 4.3478vw;
    margin-right: 22.4637vw;
    margin-bottom: 2.7263vh;
}

.secao-contatos {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-weight: 500;
}

.contatos-text {
    margin-top: 0.2181vh;
    margin-left: 3.3816vw;
    margin-right: 20.5314vw;
}

.conteudo-ilimitado-text {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 6.0386vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.745vh;
}

.assine-premium-btn {
  all: unset;
  width: 59.421vw;
  height: 7.6336vh;
  --border-radius: 4.831vw;
  --background: #DB6326;
  margin-top: 3.2715vh;
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.assine-premium-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.6231vw;
    margin-right: 3.3817vw;
    margin-top: 0.3271vh;
    width: 32vw;
}

.premium-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.662vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0172vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 9.662vw;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
  margin-bottom: 0.5452vh;
}

.audio-scss {
  position: fixed;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
