.logo-header-img {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-header-text {
  position: absolute;
  top: 44.5%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  width: 223px;
}

.btn-extra-container {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  gap: 40px;               /* espaço entre os dois botões */
  margin-top: 145px;
  margin-bottom: 40px;
}

.btn-extra-item {
  display: flex;
  flex-direction: column; /* mantém botão em cima, texto embaixo */
  align-items: center;    /* centraliza horizontalmente */
  text-align: center;     /* centraliza o texto */
  gap: 6px;            /* espaço entre botão e texto */
  width: 120px;
}

.btn-extra-item span {
  color: #737373;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-extra {
  --background: #9C3FC3;
  --color: #fff;
  --background-activated: #822ea9;
  --background-hover: #a650cf;

  height: 70px;
  width: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #000; /* Borda preta */
  border-radius: 8px;     /* (opcional) deixa os cantos arredondados */
}


.btn-extra .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-extra img {
  width: 60px;
  height: auto;
}

/* Estilo para o título "Categorias" */
.title {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center; /* centraliza o texto horizontalmente */
}


/* Texto dos botões extras no topo */
.text-btn {
  color: #737373;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;       /* garante que o span ocupe linha inteira abaixo do botão */
  margin-top: 8px;      /* distancia entre o botão e o texto */
}

.meu-dia-texto-explicativo {
  width: 249px;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 38.5%;
  left: 27%;
  text-align: center;
  overflow: hidden;
}

.menina-amarelo {
  margin-top: 108px;
}

.adicionar-meu-dia-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  position: fixed;
  top: 82%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.icone-mais {
  color: black;
}

/* Grid de categorias */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 colunas */
  gap: 20px;
  justify-content: center; /* centraliza as colunas */
  padding: 20px;
}

.btn-pill {
  --background: #9C3FC3;
  --color: #fff;
  --background-activated: #822ea9;
  --background-hover: #a650cf;

  height: 185px;
  width: 143px;

  border: 3px solid #000; /* Borda preta */
  border-radius: 8px;     /* (opcional) deixa os cantos arredondados */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-pill .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-pill img {
  width: 90px;
  height: auto;
}

.categorias-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 412px;
  height: 91.3906px;
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 28%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #63C03C;
  filter: invert(1);
}
