.logo-header-img {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo-header-text {
    position: absolute;
    top: 44.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 6.05vw;
    font-style: normal;
    font-weight: 700;
    width: 50.8vw;
}

.btn-extra-container {
  display: flex;
  justify-content: center; /* ce3ntraliza horizontalmente */
  gap: 10px;               /* espaço entre os dois botões */
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-extra-item {
  display: flex;
  flex-direction: column; /* mantém botão em cima, texto embaixo */
  align-items: center;    /* centraliza horizontalmente */
  text-align: center;     /* centraliza o texto */
  gap: 6px;            /* espaço entre botão e texto */
  width: 28.985vw;
}

.btn-extra-item span {
  color: #737373;
  font-family: "Inter", sans-serif;
  font-size: 3.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.black {
  color: black !important;
}

.btn-extra {
  --background: #9C3FC3;
  --color: #fff;
  --background-activated: #822ea9;
  --background-hover: #a650cf;

  height: 7.6336vh;
  width: 21.74vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #000; /* Borda preta */
  border-radius: 8px;     /* (opcional) deixa os cantos arredondados */
}

.btn-extra .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-extra img {
  width: 14.492vw;
  height: auto;
}

.add-btn {
  all: unset;
  --background: #FAC946;
  --border-radius: 8.454vw;
  position: fixed;
  height: 7.6336vh;
  width: 16.908vw;
  top: 78%;
  left: 73%;
}

.add-btn-icon {
  width: 15.7vw;
  height: 7.088vh;
  color: black;
}

.add-btn-icon-add-flashcard {
  width: 15.7vw;
  height: 7.088vh;
}

/* Estilo para o título "Categorias" */
.title {
  color: #000;
  font-family: Inter;
  font-size: 6.0386vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center; /* centraliza o texto horizontalmente */
}

.titulo-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 5.797vw !important;
}

/* Texto dos botões extras no topo */
.text-btn {
  color: #737373;
  text-align: center;
  font-family: Inter;
  font-size: 2.89855vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;       /* garante que o span ocupe linha inteira abaixo do botão */
  margin-top: 0.872vh;      /* distancia entre o botão e o texto */
}

.meu-dia-texto-explicativo {
  width: 60.145vw;
  color: white;
  font-size: 3.623vw;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 38.5%;
  left: 27%;
  text-align: center;
  overflow: hidden;
}

.menina-amarelo {
  margin-top: 11.777vh;
}

.adicionar-meu-dia-btn {
  all: unset;
  --background: transparent;
  --box-shadow: transparent;
  position: fixed;
  top: 82%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.icone-mais {
  color: black;
}

/* Grid de categorias */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 colunas */
  gap: 20px;
  justify-content: center; /* centraliza as colunas */
  padding: 4.831vw;
  margin-top: 39.6946vh;
}

.btn-pill {
  --background: #9C3FC3;
  --color: #fff;
  --background-activated: #822ea9;
  --background-hover: #a650cf;

  height: 20.1745vh;
  width: 34.543vw;

  border: 3px solid #000; /* Borda preta */
  border-radius: 8px;     /* (opcional) deixa os cantos arredondados */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-pill .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-pill img {
  width: 21.739vw;
  height: auto;
}

.categorias-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.96455vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.401vw;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.96455vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.8973vw;
    height: 9.96455vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
    top: 29%;
    left: 26.6%;
    z-index: 1;
    width: 70vw;
    height: 5.89vh;
    display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #63C03C;
  filter: invert(1);
}

/* ✅ ESTILOS DO LOADING (EXATAMENTE IGUAL À OUTRA PÁGINA) */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* ocupa toda a altura da tela */
  color: #9C3FC3; /* cor combinando com seu tema */
  font-size: 4.3478vw;
}
