.config-svg {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.config-text {
    position: absolute;
    top: 44.4%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 6.05vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
}

.config-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 0.1932vw;
    -webkit-text-stroke-color: #000;
    font-size: 4.831vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.config-audio-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61.594vw;
    height: 7.6336vh;
    --background: #9C3FC3;
    margin-top: 18.5387vh;
    --border-radius: 20px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.config-audio-text {
    margin-left: 11.8357vw;
    margin-right: 11.112vw;
}

.config-perfil-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61.594vw;
    height: 7.6336vh;
    --background: #9C3FC3;
    margin-top: 4.362vh;
    --border-radius: 20px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.bonequinho-img {
    width: 9.6618vw;
    height: 3.9258vh;
}

.config-perfil-text {
    margin-left: 11.8357vw;
    margin-right: 11.112vw;
}

.config-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.8331vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.401vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.8973vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.8973vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
  margin-bottom: 0.5452vh;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 26%;
  z-index: 1;
  width: 70vw;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
