.config-svg {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.config-text {
    position: absolute;
    top: 44.4%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 6.05vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
}

.config-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.config-audio-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61.594%;
    height: 16.91vw;
    --background: #9C3FC3;
    margin-top: 41vw;
    --border-radius: 20px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.config-audio-text {
    margin-left: 49px;
    margin-right: 46px;
}

.config-perfil-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61.594%;
    height: 16.91vw;
    --background: #9C3FC3;
    margin-top: 40px;
    --border-radius: 20px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.bonequinho-img {
    width: 40px;
    height: 36px;
}

.config-perfil-text {
    margin-left: 49px;
    margin-right: 46px;
}

.config-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.83%;
}

ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
