/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "@ionic/angular/css/palettes/dark.system.css";

* {
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30%;
  align-items: center;
}

/* header */
.header-svg-container {
  position: relative;
  height: 200px; /* altura do SVG */
  width: 100%;
  overflow: visible;
  z-index: 1;
}

.header-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 0;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 120px;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.header-curve {
  position: relative;
  height: 200px;
  background-color: #9c3fc3;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="412" height="60" viewBox="0 0 412 60" fill="none"><path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="%239C3FC3"/></svg>');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  overflow: visible;
}

.header-curve::after {
  content: '';
  overflow: visible;
  position: absolute;
}


/* bot찾o audio */
.audio-btn {
  width: 70px;
  height: 70px;
  padding: 0;
  min-width: 0;
  border-radius: 50%;
  border: 4px solid #000;
  background: #ff3b30;
  --background: #ff3b30;
  --color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  bottom: 65vh;
  position: absolute;
  right: 30px;
  z-index: 1000;
}

@media (max-height: 500px) {
  .audio-btn {
    bottom: 5vh;  /* para telas mais baixas, deixa o bot찾o mais pr처ximo do fundo */
  }
}

.audio-btn::part(native) {
  border-radius: 50%;
}

.audio-btn ion-icon {
  font-size: 30px;
  width: 50px;
  height: 50px;
}

/* bot천es fixos */
.btn-center-flex {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  border-radius: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 18vh;
  border-radius: 10px;
}

button {
  all: unset;
  box-sizing: border-box;
}

ion-input {
  color: #000;
  --placeholder-color: #000;
  --placeholder-opacity: 1;
  border-color: #9c3fc3;
  --highlight-color: #9c3fc3;
  border-radius: 10px;
}

.custom-input {
  border-radius: 10px;
  border-color: #9c3fc3;
  border: 1px solid #9c3fc3;
  padding: 0 32px;
  font-size: 20px;
  width: 300px;
  height: 56px;
  align-items: center;
  background: transparent;
  display: flex;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-outline {
  color: black;
  --border-color: #9c3fc3;
  width: 190px;
  height: 56px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--border-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #9C3FC3;
  text-align: center;
  font-weight: bold;
  padding: 12px 0;
  font-size: 16px;
  z-index: 1000;
}


