
.create-account-btn {
  height: 6.10687vh;
  padding: 0 7.73vw;
  font-size: 4.831vw;
  font-weight: 600;
  border-radius: 10px;
  background: transparent;
  color: black;
  --border-color: orange;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-btn {
  width: 67.633vw;
  height: 5.2344vh;
  font-weight: 600;
  justify-content: flex-start;
  padding-left: 3.8647vw;
  border-radius: 1px;
  background: transparent;
  color: #000;
  --border-color: #9c3fc3;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-btn ion-icon {
  font-size: 5.7971vw;
  margin-right: 2.8985vw;
}

.facebook-icon {
  color: #1877f2;
}

.google-icon {
  color: #db4437;
}

.divider-container {
  width: 67.6328vw;
  text-align: center;
  margin: 0.5452vw 0;
  position: relative;
}

.divider-text {
  padding: 0 2.8985vw;
  position: relative;
  top: 1.09vh;
  font-weight: 600;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 26.6%;
  z-index: 1;
  width: 70vw;
  height: 5.89vh;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

