 <ion-content class="login-container" fullscreen>
 <div class="header-svg-container">
  <svg xmlns="http://www.w3.org/2000/svg" width="412" height="365" viewBox="0 0 412 365" fill="none">
  <path d="M-35 -18H621V365C433.901 115.251 174.347 172.943 -35 365V-18Z" fill="#9C3FC3"/>
  </svg>
    <img src="assets/img/bonequinho.png" alt="Logo" class="header-logo" />
  </div>

  <ion-button class="audio-btn" fill="solid">
    <ion-icon name="volume-high" slot="icon-only"></ion-icon>
  </ion-button>

  <div class="btn-container">
    <ion-button fill="clear" class="custom-outline">Entrar</ion-button>

    <ion-button class="social-btn" fill="clear">
      <ion-icon name="logo-facebook" slot="start" class="facebook-icon"></ion-icon>
      Continuar com o Facebook
    </ion-button>

    <ion-button class="social-btn" fill="clear">
      <ion-icon name="logo-google" slot="start" class="google-icon"></ion-icon>
      Continuar com o Google
    </ion-button>

    <div class="divider-container">
      <span class="divider-text">ou</span>
    </div>

    <ion-button routerLink="/cadastro" class="create-account-btn" fill="clear" >
      Crie sua conta
    </ion-button>
  </div>

  <br />

  <footer class="app-footer">
    Memória Viva
  </footer>
</ion-content>
