
.create-account-btn {
  height: 13.527vw;
  padding: 0 32px;
  font-size: 4.831vw;
  font-weight: 600;
  border-radius: 10px;
  background: transparent;
  color: black;
  --border-color: orange;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-btn {
  width: 67.633vw;
  height: 11.6vw;
  font-weight: 600;
  justify-content: flex-start;
  padding-left: 16px;
  border-radius: 1px;
  background: transparent;
  color: #000;
  --border-color: #9c3fc3;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-btn ion-icon {
  font-size: 24px;
  margin-right: 12px;
}

.facebook-icon {
  color: #1877f2;
}

.google-icon {
  color: #db4437;
}

.divider-container {
  width: 280px;
  text-align: center;
  margin: 5px 0;
  position: relative;
}

.divider-text {
  padding: 0 12px;
  position: relative;
  top: 10px;
  font-weight: 600;
}

.audio-scss {
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 1;
  width: 65%;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}

