.perfil-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 412px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 308px;
    height: 218px;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 170px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-nome {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.nome {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.secao-idade {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-idade {
    font-size: 25px;
    height: 30px;
    width: 75px;
}

.idade {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 308px;
    height: 80px;
    padding-left: 25px
}

.user-email {
    font-size: 25px;
    height: 30px;
    width: 80px;
}

.email {
    width: 178px;
    height: 55px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.salvar-atualizacoes-btn {
    all: unset;
    width: 246px;
    height: 70px;
    margin-top: 78px;
    --background: #127253;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salvar-atualizacoes-svg {
    margin-right: 32px;
}

.salvar-atualizacoes-text {
    margin-right: 41px;
}

.logout {
    all: unset;
    margin-top: 30px;
    width: 246px;
    height: 70px;
    --border-radius: 20px;
    --background: red;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.logout-text {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
    margin-right: 68px;
}

.logout-icon {
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 43px;
}