.perfil-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user-info {
    width: 74.396vw;
    height: 23.773vh;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 4vh;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 100%;
    height: 7.415vh;
    padding-left: 6.0386vw;
}

.user-nome {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 18.33vw;
    margin-top: 2.759vh;
}

.nome {
    width: 42.995vw;
    height: 5.997vh;
    margin-left: 2.8985vw;
    margin-top: 1.6357vh;
    font-size: 4.831vw;
    font-weight: 700;
}

.secao-idade {
    display: flex;
    width: 100%;
    height: 7.415vh;
    padding-left: 6.0386vw;
}

.user-idade {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 19.37vw;
    margin-top: 1.45vh;
}

.idade {
    width: 42.995vw;
    height: 5.9978vh;
    margin-left: 2.8985vw;
    margin-top: 1.5267vh;
    font-size: 4.831vw;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 100%;
    height: 8.724vh;
    padding-left: 6.0386vw;
}

.user-email {
    font-size: 6.0386vw;
    height: 3.2715vh;
    width: 19.43vw;
    margin-top: 2.759vh;
}

.email {
    width: 42.995vw;
    height: 5.9978vh;
    margin-left: 2.415vw;
    margin-top: 1.5267vh;
    font-size: 4.831vw;
    font-weight: 700;
}

.salvar-atualizacoes-btn {
    all: unset;
    width: 59.4203vw;
    height: 7.6336vh;
    margin-top: 4.6vh;
    --background: #127253;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 4.831vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salvar-atualizacoes-svg {
    margin-right: 7.72947vw;
}

.salvar-atualizacoes-text {
    margin-right: 9.90338vw;
}

.logout {
    all: unset;
    margin-top: 3vh;
    width: 59.420vw;
    height: 7.6336vh !important;
    min-height: 7.6336vh !important;
    --border-radius: 20px;
    --background: red;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.logout-text {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
    margin-right: 16.425vw;
}

.logout-icon {
    width: 9.6618vw;
    height: 4.362vh;
    color: white;
    margin-right: 10.386vw;
}

.atualizar-perfil-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 8.833vh;
}

ion-button.voltar-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  margin-right: 31.401vw;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.8973vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 19.9012vw;
  height: 9.9645vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6956vh;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 19.9012vw;
    height: 9.9645vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
    height: 5.2344vh;
    width: 22.0712vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 19.897vw;
    height: 9.9645vh;
    font-size: 2.8985vw;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 0.327vh;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 29.4%;
  left: 28%;
  z-index: 1;
  width: 67vw;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
