.perfil-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.user-info {
    width: 308px;
    height: 218px;
    --border-color: #9C3FC3;
    border: 0.5px solid var(--border-color);
    border-radius: 10px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #9C3FC3;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 130px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secao-nome {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-nome {
    font-size: 25px;
    height: 30px;
    width: 75px;
    margin-top: 25.3px;
}

.nome {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.secao-idade {
    display: flex;
    width: 308px;
    height: 68px;
    padding-left: 25px
}

.user-idade {
    font-size: 25px;
    height: 30px;
    width: 75px;
    margin-top: 25.3px;
}

.idade {
    width: 178px;
    height: 55px;
    margin-left: 12px;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
}

.secao-email {
    display: flex;
    width: 308px;
    height: 80px;
    padding-left: 25px
}

.user-email {
    font-size: 25px;
    height: 30px;
    width: 80px;
    margin-top: 25.3px;
}

.email {
    width: 178px;
    height: 55px;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
}

.salvar-atualizacoes-btn {
    all: unset;
    width: 246px;
    height: 70px;
    margin-top: 50px;
    --background: #127253;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salvar-atualizacoes-svg {
    margin-right: 32px;
}

.salvar-atualizacoes-text {
    margin-right: 41px;
}

.logout {
    all: unset;
    margin-top: 30px;
    width: 246px;
    height: 70px !important;
    min-height: 70px !important;
    --border-radius: 20px;
    --background: red;
    stroke-width: 1px;
    stroke: #DB6326;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.logout-text {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
    margin-right: 68px;
}

.logout-icon {
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 43px;
}

.atualizar-perfil-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 100%;
  height: 91.3906px;
}

ion-button.voltar-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  margin-right: 130px;
  --background: transparent;
  --box-shadow: transparent;

  .voltar-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voltar-svg {
    height: 48px;
    width: 91.375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

ion-button.inicio-btn {
  all: unset;
  width: 82.3906px;
  height: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24.7188px;
  --background: transparent;
  --box-shadow: transparent;

  .inicio-btn-div {
    width: 82.3906px;
    height: 91.375px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio-svg {
  height: 48px;
  width: 91.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .inicio-texto {
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 82.375px;
    height: 91.375px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #737373;
    margin-top: 3px;
  }
}

p {
  margin: 0;
}

.audio-scss {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 1;
  width: 272px;
  display: none;
}

.audio-scss::-webkit-media-controls-panel {
  background-color: #00FFFF;
  filter: invert(1);
}
